**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/Dockerfile*
**/.dockerignore
#**/docker-compose
**/docker-compose*.yml
**/*.*proj.user

# for local docker build outputs
**/build_output

#!.git/HEAD
!.git/config
#!.git/packed-refs
#!.git/refs/heads/**

